body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active{
    background-color: white;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: white;
}

.navbar-toggler{
    background-color: #ffeae6;
}

.section-title{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#sobre-o-restaurante,
#cardapio{
    background-color: #ffeae6;
}

.carousel-item img {
    width: 100%;
    height: 300px; /* ou qualquer altura que se adeque melhor ao visual */
    object-fit: cover;
}

.text-colored{
    color: #e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #e15f41;
    font-weight: bold;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }

}